h1{
	color: #FF0060; text-align: center; font-size: 45;
}
#slogan {font-style: italic; text-align: center; font-size: 82
}
#logo { text-align: left;
}
#welcome{
	color: #FF0060
}
#help{
	text-align: center;
}
ul{
	text-align: center; font-size: 40px;
}
#welcome {
	text-align: center; font-size: 25px; margin-right: 3%, margin-left 3%,
}