h1{
	color: #FF0060; text-align: center; font-size: 45;
}
#slogan {font-style: italic; text-align: center; font-size: 82
}
#logo { text-align: left;
}
#welcome{
	color: #FF0060; background-image: url(https://jadryden.github.io/unit_three/images/Untitled%20design%20(8).png)
}
#help{
	text-align: center;
}
ul{
	text-align: center; font-size: 40px;
}
#NewPosts{
	background-image: url("https://images.unsplash.com/photo-1496167117681-944f702be1f4?dpr=1&auto=compress,format&fit=crop&w=3289&h=&q=80&cs=tinysrgb&crop=");
	width: 100%; height: 500px;
}

